Source: zabbix-agent-osso
Maintainer: Walter Doekes <wjdoekes+zabbix-agent-osso@osso.nl>
Section: admin
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: python:any, python3:any, dh-python

Package: zabbix-agent-osso
Architecture: all
Depends: ${misc:Depends},
 sudo,
 vcutil,
 zabbix-agent
Recommends: update-notifier-common
Suggests: cron, gocollect, mail-transport-agent, nvme-cli, postfix
Description: OSSO zabbix-agent default scripts
 The zabbix-agent OSSO scripts make default Debian/Ubuntu monitoring
 easier.
