# [This file is part of the zabbix-agent-osso package]
# REQUIRES: nats
#
# NATS
# ====
#
# simple nats monitoring script that gets all streams during discovery,
# and gets the info for of the disovered streams.
#
# for now only a trigger on nodata for a stream.
# please set settings below to match your setup

#set values
NATS_URL=<>
NATS_CA=<>
NATS_USER=<>
NATS_PASSWORD=<>

# Export values
export NATS_URL
export NATS_CA
export NATS_USER
export NATS_PASSWORD
