# [This file is part of the zabbix-agent-osso package]

# Create postgres user:
#   CREATE USER zbx_monitor WITH PASSWORD '<PASSWORD>' INHERIT;
#   GRANT pg_monitor TO zbx_monitor;
#
# See also:
#   https://git.zabbix.com/projects/ZBX/repos/zabbix/browse/templates/db/postgresql
#
# Then create config/postgresql.pgpass with this content:
127.0.0.1:5432:*:zbx_monitor:<PASSWORD>
